<footer class="mt-auto border-t border-gray-200 block">
    <div class="mx-auto flex flex-col items-center">
        <!-- Top area: Blocks -->
        <div class="grid w-full max-w-7xl gap-8 py-8 px-4 sm:grid-cols-12 sm:px-6 md:py-12"
            style="display: grid; grid-template-columns: repeat(12, 1fr);">
            <!-- 1st block -->
            <div class="sm:col-span-12 lg:col-span-6" style="grid-column: span 12;">
                <div class="mb-2">
                    <!-- Logo -->
                    <a href="/" class="inline-block">
                        <img src="/images/shoes/LOGO.jpg" alt="Logo" class="w-14" style="width: 3.5rem;">
                    </a>
                </div>
            </div>

            <!-- 2nd block -->
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2 lg:ml-auto" style="grid-column: span 6;">
                <h6 class="mb-2 font-medium text-gray-800">Marketplace</h6>
                <ul class="text-sm" style="list-style: none; padding: 0;">
                    <li class="mb-2"><a href="/nfts"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">All NFTs</a></li>
                    <li class="mb-2"><a href="/collections"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Products</a></li>
                </ul>
            </div>

            <!-- 3rd block -->
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2 lg:ml-auto" style="grid-column: span 6;">
                <h6 class="mb-2 font-medium text-gray-800">Resources</h6>
                <ul class="text-sm" style="list-style: none; padding: 0;">
                    <li class="mb-2"><a href="https://github.com/raxitsanghani" target="_blank"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Documentation</a></li>
                    <li class="mb-2"><a href="https://github.com/raxitsanghani" target="_blank"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Help Center</a></li>
                    <li class="mb-2"><a href="https://github.com/raxitsanghani" target="_blank"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Blog</a></li>
                    <li class="mb-2"><a href="https://github.com/raxitsanghani" target="_blank"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Support Center</a></li>
                </ul>
            </div>

            <!-- 4th block -->
            <div class="sm:col-span-6 md:col-span-3 lg:col-span-2 lg:ml-auto" style="grid-column: span 6;">
                <h6 class="mb-2 font-medium text-gray-800">Company</h6>
                <ul class="text-sm" style="list-style: none; padding: 0;">
                    <li class="mb-2"><a href="/"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Home</a></li>
                    <li class="mb-2"><a href="https://github.com/raxitsanghani" target="_blank"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">About us</a></li>
                    <li class="mb-2"><a href="https://github.com/raxitsanghani" target="_blank"
                            class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-900"
                            style="text-decoration: none; color: inherit;">Privacy Policy</a></li>
                </ul>
            </div>
        </div>

        <!-- Bottom area -->
        <div class="flex w-full justify-center border-t border-gray-200 p-4 sm:px-6 md:py-8">
            <div
                class="w-full max-w-7xl px-4 sm:px-6 md:flex md:items-center md:justify-between items-center flex-col md:flex-row">
                <!-- Social links -->
                <ul class="mb-4 flex md:order-1 md:ml-4 md:mb-0" style="list-style: none; padding: 0;">
                    <li class="ml-4">
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <svg class="h-8 w-8 fill-current" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                                style="height: 2rem; width: 2rem;">
                                <path
                                    d="M24 11.5c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4 0 1.6 1.1 2.9 2.6 3.2-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H8c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4c.7-.5 1.3-1.1 1.7-1.8z" />
                            </svg>
                        </a>
                    </li>
                    <!-- Add other social icons similarly if needed -->
                </ul>
                <!-- Copyrights note -->
                <div class="mr-4 text-sm text-gray-600">
                    Made by <a class="text-blue-600 hover:underline" target="_blank"
                        href="https://github.com/raxitsanghani" style="color: blue;">Raxit Sanghani</a>. All rights
                    reserved.
                </div>
            </div>
        </div>
    </div>
</footer>