<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= title %>
</title>
<link rel="stylesheet" href="/css/style.css">
<script src="https://unpkg.com/@phosphor-icons/web"></script>
<!-- Firebase and App Logic -->
<script type="module" src="/js/main.js" defer></script>