<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <script>
            window.productId = "<%= id %>";
        </script>
</head>

<body class="bg-gray-50">
    <%- include('partials/header') %>
        <div class="mt-24 container mx-auto px-4 py-8">
            <div id="product-detail" class="bg-white rounded-lg shadow-lg p-6 min-h-[50vh]">
                <div class="flex justify-center items-center h-full">
                    <p class="text-xl">Loading product details...</p>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
</body>

</html>